<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{75,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{75,74}}</string>
                <key>sourceSize</key>
                <string>{111,100}</string>
            </dict>
            <key>boss-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{60,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{60,78}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>boss-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{70,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{70,90}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,266},{68,66}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{68,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>enemy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,412},{72,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{72,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>enemy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,430},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{64,68}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>enemy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,100}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,360},{76,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{76,68}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>hero-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{82,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,188},{76,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{76,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,84},{80,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{80,70}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,104},{84,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{84,82}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{82,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{82,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,202},{86,74}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{86,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>skill-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{96,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{96,82}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sword-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,278},{70,80}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{70,80}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sword-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,336},{64,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{64,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littleknight.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7020b66dad2e24a468426d6f097dfd69:1/1$</string>
            <key>textureFileName</key>
            <string>littleknight.png</string>
        </dict>
    </dict>
</plist>
